body{
    background-color: azure;
}
.card{
    width: 300px;
    margin: 15px;
    box-sizing: border-box;
    box-shadow: 4px 3px 5px black;
}
.image{
    width: 100%;
}

.card-body{
    padding: 5px;
    background-color: #eceac9;
}
.card-title{
    font-size: 2rem;
    text-align: center;
    color: rgb(70, 83, 83);
}
.card-detaile{
    text-align: justify;
}
.card:hover{
    box-shadow: 7px 7px 9px grey;
}
.main-container{
    display: flex;
    box-sizing: border-box;
    background-color: rgb(202, 211, 218);
    padding: 25px;
    justify-content: center;
    flex-wrap: wrap;

}

/* 2nd card*/

.card2{
    width: 300px;
    margin: 15px;
    box-sizing: border-box;
    box-shadow: 4px 3px 5px rgb(231, 182, 182);
}
.image2{
    width: 100%;
}
.card2-body{
    padding: 5px;
    background-color:honeydew;
}
.card2-title{
    font-size: 2rem;
    text-align: center;
    color: chocolate;
    
}
.card2-detaile{
    text-align: justify;
}
.card2:hover{
    box-shadow: 2px 2px 12px coral ;
}
/* 2nd card ends*/

.card3{
    width: 300px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgb(245, 241, 241);
    margin: 15px;
    
}
.image3{
    width: 100%;
}
.card3-body{
    padding: 5px;
    background-color: cadetblue;
}
.card3-title{
    font-size: 2rem;
    text-align: center;
    color: aqua;
}
.card3-detaile{
    text-align: justify;
    color: aliceblue;
}
.card3:hover{
    box-shadow: 4px 3px 7px rgb(59, 51, 51);
}

/* 3r card ends*/

.card4{
    width: 300px;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgb(168, 94, 67);
    margin: 15px;
}
.image4{
    width: 100%;
}
.card4-body{
    padding: 5px;
    background-color: rgb(241, 161, 132);
}

.card4-title{
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.card4-detaile{
    text-align: justify;
}

.card4:hover{
    box-shadow: 8px 6px 9px coral;
}
